body {
  background-color: #F0B589;
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #C43A32;
  font-size: 2.5rem;
  margin: 2rem 0;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  gap: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  border: 2px solid #ED1C24;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #ED1C24;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #FFDB58;
}

img {
  max-width: 520px;
  max-height: 520px;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}
